html, body {
  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, a, p, div {
  font-family: "Roboto", sans-serif;
  color: #050505;
}

.text- {
  &center {
    text-align: center;
  }
}
